{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  
  {{ exposed }}
  {{ attachment_before }}

  {% block services_search_results_header %}
	{% set sort_label = '' %}
	{% set sort_select_name = '' %}
	{% set sort_items = [] %}

	{% if view.exposed_data['sort_by'] %}
	  {% set sort_label = 'Sort: ' %}
	  {% set sort_select_name = 'sort_by' %}
	  
	  {% for item in view.sort %} 
	  	{% set selected = false %}

	  	{% if loop.first %}
	  		{% set selected = true %}
	  	{% endif %}

	  	{% set sort_items = sort_items|merge([{
			'label': item.options['expose']['label'],
    		'value': item.options['expose']['field_identifier'],
    		'selected': selected,
			}]) 
		%}
	  {% endfor %}
	{% endif %}

  	{% include "@molecules/search/service/services-search-results-header.twig" with {
		services_search_results_total: view.total_rows,
		services_search_results_keyword: view.exposed_data['keyword'],
		services_search_results_sort_label: sort_label,
		services_search_results_sort_options: sort_items,
		services_search_results_select_name: sort_select_name,
	} %}
  {% endblock services_search_results_header %}


  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
